@import "../sass/variables";

.theme-showcase {
  color: map-get($palette, "primary");
  padding: 40px 18px;

  &.theme-showcase-theme-accent {
    color: map-get($palette, "bg1");
  }

  @media (min-width: 960px) {
    padding: 40px 58px;
  }
}

.theme-showcase-copy {
  padding: 0 8px;

  @media (min-width: 960px) {
    padding: 0 12px;
  }
}

.theme-showcase-title {
  color: map-get($palette, "accent");
  font-size: 40px;
  margin-bottom: 12px;

  .theme-showcase-theme-accent & {
    color: map-get($palette, "bg1");
  }
}

.theme-showcase-subtitle {
  margin-bottom: 10px;
}

.theme-showcase-themes {
  display: flex;
  flex-wrap: wrap;
}

.theme-showcase-theme-wrapper {
  box-sizing: border-box;
  padding: 12px 8px;
  width: 100%;

  @media (min-width: 480px) {
    width: 50%;
  }

  @media (min-width: 960px) {//???
    padding: 15px 12px;
    width: 33.333%;
  }
}

.theme-showcase-theme {
  height: 100%;
}

.theme-showcase-actions {
  margin-top: 8px;
  padding: 0 8px;
  text-align: center;

  @media (min-width: 960px) {
    margin-top: 0;
    padding: 0 12px;
    text-align: right;
  }
}

.theme-showcase-action {
  margin: 12px 5px 0;

  @media (min-width: 960px) {
    margin: 20px 0 0 10px;
  }
}
