.action-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .site-header-inside {
    padding: 22px 24px;
  }

  .site-logo {
    img {
      height: 28px;
      width: 156px;
    }
  }

  .page-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    color: white;
    padding: 80px 20px 20px;
    max-width: 760px;
    @media (min-width: 800px) {
      text-align: left;
      min-width: 700px;
    }
    h1 {
      color: white;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 800;
      @media (min-width: 800px) {
        font-size: 43px;
        line-height: 1.1;
      }
      strong {
        color: white;
      }
    }
    h2 {
      color: white;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-size: 22px;
      line-height: 1.2;
      font-weight: 500;
      @media (min-width: 800px) {
        font-size: 22px;
      }
      em {
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
      }
      strong {
        color: white;
      }
    }
    h3 {
      color: white;
      font-weight: 400;
      strong {
        color: white;
      }
    }
    p {
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 26px;
      font-size: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      strong {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .separator {
      width: 100%;
      height: 1px;
      margin: 25px 0 15px;
      border-bottom: solid 1px rgba(116, 131, 143, 0.4);
    }
    a {
      border-bottom: none;
    }
  }

  .site-footer {
    padding-top: 2rem;
  }
}
