/*
 * Fonts
 */
@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url(../../static/assets/fonts/Rubik-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url(../../static/assets/fonts/Rubik-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: FiraMono;
  font-display: swap;
  src: url(../../static/assets/fonts/FiraMono-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: FiraMono;
  font-display: swap;
  src: url(../../static/assets/fonts/FiraMono-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
