.template-home {
  background-color: map-get($palette, "bg1");

  .bg-diag {
    background-color: map-get($palette, "accent");
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 30%;
    top: 0;
    transform: skew(30deg);
    transform-origin: top left;
    z-index: -1;

    @media (min-width: $breakpoint-mobile-menu) {
      display: block;
    }

    @media (min-width: 1100px) {
      left: 50%;
    }
  }
}
